extends ../layout/auth-layout
block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Colors
        .row
          .col-sm-12
            .white-box
              //- h3.box-title Basic Table
              p.text-muted
                #add-popup.popup
                  // Modal content
                  .popup-content
                    span.popupclose(onclick='closePopupAdd();') &times;
                    h3 Add Color
                    form(method='post' action='../color/store')
                      .col-md-12
                        label
                          | Name 
                          span.required *
                        input(type='text' name='name')
                      .col-md-12
                        input.btn.btn-success(type='submit' value='Submit')
                    .clearfix
                  .clearfix
                input.btn.btn-danger(type='button' value='Add Color' onclick='openPopupAdd();')

              .table-responsive
                table.table
                  thead
                    tr
                      th ID
                      th Color Name
                      th(width='10px')
                      th(width='10px')
                  tbody
                  each color in listColors
                    tr
                      td #{color._id}
                      td #{color.name} 
                      td
                        a.btn.btn-primary(href='../color/edit/'+color._id) Update
                      td
                        form(method='post' action='../color/delete/'+color._id)
                          .col-md-12
                            input.btn.btn-primary(type='submit' value='Delete' onclick='deleteChoice();')