extends ../layout/layout

block content
  section.section-slide
  .wrap-slick1
    .slick1
      .item-slick1(style='background-image: url(images/slide-01.jpg);')
        .container.h-full
          .flex-col-l-m.h-full.p-t-100.p-b-30.respon5
            .layer-slick1.animated.visible-false(data-appear='fadeInDown' data-delay='0')
              span.ltext-101.cl2.respon2
                | Women Collection 2018
            .layer-slick1.animated.visible-false(data-appear='fadeInUp' data-delay='800')
              h2.ltext-201.cl2.p-t-19.p-b-43.respon1
                | NEW SEASON
            .layer-slick1.animated.visible-false(data-appear='zoomIn' data-delay='1600')
              a.flex-c-m.stext-101.cl0.size-101.bg1.bor1.hov-btn1.p-lr-15.trans-04(href='product')
                | Shop Now
      .item-slick1(style='background-image: url(images/slide-02.jpg);')
        .container.h-full
          .flex-col-l-m.h-full.p-t-100.p-b-30.respon5
            .layer-slick1.animated.visible-false(data-appear='rollIn' data-delay='0')
              span.ltext-101.cl2.respon2
                | Men New-Season
            .layer-slick1.animated.visible-false(data-appear='lightSpeedIn' data-delay='800')
              h2.ltext-201.cl2.p-t-19.p-b-43.respon1
                | Jackets &amp; Coats
            .layer-slick1.animated.visible-false(data-appear='slideInUp' data-delay='1600')
              a.flex-c-m.stext-101.cl0.size-101.bg1.bor1.hov-btn1.p-lr-15.trans-04(href='product')
                | Shop Now
      .item-slick1(style='background-image: url(images/slide-03.jpg);')
        .container.h-full
          .flex-col-l-m.h-full.p-t-100.p-b-30.respon5
            .layer-slick1.animated.visible-false(data-appear='rotateInDownLeft' data-delay='0')
              span.ltext-101.cl2.respon2
                | Men Collection 2018
            .layer-slick1.animated.visible-false(data-appear='rotateInUpRight' data-delay='800')
              h2.ltext-201.cl2.p-t-19.p-b-43.respon1
                | New arrivals
            .layer-slick1.animated.visible-false(data-appear='rotateIn' data-delay='1600')
              a.flex-c-m.stext-101.cl0.size-101.bg1.bor1.hov-btn1.p-lr-15.trans-04(href='product')
                | Shop Now
  // Banner
  .sec-banner.bg0.p-t-80.p-b-50
    .container
      .row
        .col-md-6.col-xl-4.p-b-30.m-lr-auto
          // Block1
          .block1.wrap-pic-w
            img(src='images/banner-01.jpg' alt='IMG-BANNER')
            a.block1-txt.ab-t-l.s-full.flex-col-l-sb.p-lr-38.p-tb-34.trans-03.respon3(href='product')
              .block1-txt-child1.flex-col-l
                span.block1-name.ltext-102.trans-04.p-b-8
                  | Women
                span.block1-info.stext-102.trans-04
                  | Spring 2018
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  | Shop Now
        .col-md-6.col-xl-4.p-b-30.m-lr-auto
          // Block1
          .block1.wrap-pic-w
            img(src='images/banner-02.jpg' alt='IMG-BANNER')
            a.block1-txt.ab-t-l.s-full.flex-col-l-sb.p-lr-38.p-tb-34.trans-03.respon3(href='product')
              .block1-txt-child1.flex-col-l
                span.block1-name.ltext-102.trans-04.p-b-8
                  | Men
                span.block1-info.stext-102.trans-04
                  | Spring 2018
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  | Shop Now
        .col-md-6.col-xl-4.p-b-30.m-lr-auto
          // Block1
          .block1.wrap-pic-w
            img(src='images/banner-03.jpg' alt='IMG-BANNER')
            a.block1-txt.ab-t-l.s-full.flex-col-l-sb.p-lr-38.p-tb-34.trans-03.respon3(href='product')
              .block1-txt-child1.flex-col-l
                span.block1-name.ltext-102.trans-04.p-b-8
                  | Accessories
                span.block1-info.stext-102.trans-04
                  | New Trend
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  | Shop Now
  // Product
  section.bg0.p-t-23.p-b-140
    .container
      .p-b-10
        h3.ltext-103.cl5
          | Product Overview
      .flex-w.flex-sb-m.p-b-52
        .flex-w.flex-l-m.filter-tope-group.m-tb-10
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5.how-active1(data-filter='*')
            | All Products
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='.women')
            | Women
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='.men')
            | Men
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='.bag')
            | Bag
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='.shoes')
            | Shoes
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='.watches')
            | Watches
        .flex-w.flex-c-m.m-tb-10
          .flex-c-m.stext-106.cl6.size-104.bor4.pointer.hov-btn3.trans-04.m-r-8.m-tb-4.js-show-filter
            i.icon-filter.cl2.m-r-6.fs-15.trans-04.zmdi.zmdi-filter-list
            i.icon-close-filter.cl2.m-r-6.fs-15.trans-04.zmdi.zmdi-close.dis-none
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9; Filter
          .flex-c-m.stext-106.cl6.size-105.bor4.pointer.hov-btn3.trans-04.m-tb-4.js-show-search
            i.icon-search.cl2.m-r-6.fs-15.trans-04.zmdi.zmdi-search
            i.icon-close-search.cl2.m-r-6.fs-15.trans-04.zmdi.zmdi-close.dis-none
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search
        // Search product
        .dis-none.panel-search.w-full.p-t-10.p-b-15
          .bor8.dis-flex.p-l-15
            button.size-113.flex-c-m.fs-16.cl2.hov-cl1.trans-04
              i.zmdi.zmdi-search
            input.mtext-107.cl2.size-114.plh2.p-r-15(type='text' name='search-product' placeholder='Search')
        // Filter
        .dis-none.panel-filter.w-full.p-t-10
          .wrap-filter.flex-w.bg6.w-full.p-lr-40.p-t-27.p-lr-15-sm
            .filter-col1.p-r-15.p-b-27
              .mtext-102.cl2.p-b-15
                | Sort By
              ul
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | Default
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | Popularity
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | Average rating
                li.p-b-6
                  a.filter-link.stext-106.trans-04.filter-link-active(href='#')
                    | Newness
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | Price: Low to High
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | Price: High to Low
            .filter-col2.p-r-15.p-b-27
              .mtext-102.cl2.p-b-15
                | Price
              ul
                li.p-b-6
                  a.filter-link.stext-106.trans-04.filter-link-active(href='#')
                    | All
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | $0.00 - $50.00
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | $50.00 - $100.00
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | $100.00 - $150.00
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | $150.00 - $200.00
                li.p-b-6
                  a.filter-link.stext-106.trans-04(href='#')
                    | $200.00+
            .filter-col3.p-r-15.p-b-27
              .mtext-102.cl2.p-b-15
                | Color
              ul
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #222;')
                    i.zmdi.zmdi-circle
                  a.filter-link.stext-106.trans-04(href='#')
                    | Black
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #4272d7;')
                    i.zmdi.zmdi-circle
                  a.filter-link.stext-106.trans-04.filter-link-active(href='#')
                    | Blue
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #b3b3b3;')
                    i.zmdi.zmdi-circle
                  a.filter-link.stext-106.trans-04(href='#')
                    | Grey
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #00ad5f;')
                    i.zmdi.zmdi-circle
                  a.filter-link.stext-106.trans-04(href='#')
                    | Green
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #fa4251;')
                    i.zmdi.zmdi-circle
                  a.filter-link.stext-106.trans-04(href='#')
                    | Red
                li.p-b-6
                  span.fs-15.lh-12.m-r-6(style='color: #aaa;')
                    i.zmdi.zmdi-circle-o
                  a.filter-link.stext-106.trans-04(href='#')
                    | White
            .filter-col4.p-b-27
              .mtext-102.cl2.p-b-15
                | Tags
              .flex-w.p-t-4.m-r--5
                a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5(href='#')
                  | Fashion
                a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5(href='#')
                  | Lifestyle
                a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5(href='#')
                  | Denim
                a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5(href='#')
                  | Streetstyle
                a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5(href='#')
                  | Crafts
      .row.isotope-grid
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-01.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Esprit Ruffle Shirt
                span.stext-105.cl3
                  | $16.64
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-02.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Herschel supply
                span.stext-105.cl3
                  | $35.31
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.men
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-03.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Only Check Trouser
                span.stext-105.cl3
                  | $25.50
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-04.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Classic Trench Coat
                span.stext-105.cl3
                  | $75.00
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-05.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Front Pocket Jumper
                span.stext-105.cl3
                  | $34.75
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.watches
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-06.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Vintage Inspired Classic
                span.stext-105.cl3
                  | $93.20
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-07.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Shirt in Stretch Cotton
                span.stext-105.cl3
                  | $52.66
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-08.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Pieces Metallic Printed
                span.stext-105.cl3
                  | $18.96
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.shoes
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-09.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Converse All Star Hi Plimsolls
                span.stext-105.cl3
                  | $75.00
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-10.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Femme T-Shirt In Stripe
                span.stext-105.cl3
                  | $25.85
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.men
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-11.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Herschel supply
                span.stext-105.cl3
                  | $63.16
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.men
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-12.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Herschel supply
                span.stext-105.cl3
                  | $63.15
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-13.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | T-Shirt with Sleeve
                span.stext-105.cl3
                  | $18.49
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-14.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Pretty Little Thing
                span.stext-105.cl3
                  | $54.79
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.watches
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-15.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Mini Silver Mesh Watch
                span.stext-105.cl3
                  | $86.85
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          // Block2
          .block2
            .block2-pic.hov-img0
              img(src='images/product-16.jpg' alt='IMG-PRODUCT')
              a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                | Quick View
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail')
                  | Square Neck Back
                span.stext-105.cl3
                  | $29.64
              .block2-txt-child2.flex-r.p-t-3
                a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                  img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png' alt='ICON')
                  img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png' alt='ICON')
      // Load more
      .flex-c-m.flex-w.w-full.p-t-45
        a.flex-c-m.stext-101.cl5.size-103.bg2.bor1.hov-btn1.p-lr-15.trans-04(href='#')
          | Load More
