extends ../layout/auth-layout
block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Sizes
        .row
          .col-sm-12
            .white-box
              //- h3.box-title Basic Table
              p.text-muted
                #add-popup.popup
                  // Modal content
                  .popup-content
                    span.popupclose(onclick='closePopupAdd();') &times;
                    h3 Add Size
                    form(method='post' action='../size/store')
                      .col-md-12
                        label
                          | Name 
                          span.required *
                        input(type='text' name='name' required)
                      .col-md-12
                        input.btn.btn-success(type='submit' value='Submit')
                    .clearfix
                  .clearfix
                input.btn.btn-danger(type='button' value='Add Size' onclick='openPopupAdd();')                    
              .table-responsive
                table.table
                  thead
                    tr
                      th ID
                      th Size Name
                      th(width='10px')
                      th(width='10px')
                  tbody
                  each size in listSizes
                    tr
                      td #{size._id}
                      td #{size.name}
                      td
                        a.btn.btn-primary(href='../size/edit/'+size._id) Update
                      td
                        form(method='post' action='../size/delete/'+size._id)
                          .col-md-12
                            input.btn.btn-primary(type='submit' value='Delete' onclick='deleteChoice();')